// Bootstrap
@import './_variables';
@import '~bootstrap/scss/bootstrap';
@import '~flatpickr/dist/flatpickr.css';
@import '~vanilla-datatables/dist/vanilla-dataTables.min.css';

@import url('https://fonts.googleapis.com/css?family=Poppins');

@import './loading';

#chart-container .card {
  display: none;
}

#date-select {
  text-align: center;
  display: block;
  float: right;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


body {
  background-color: #f79321;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
}

p {
  color: white;
  clear: left;
}

.div {
  height: 1px;
  background-color: white;
  width: 50%;
  float: left;
}

.card {
  border: none;
  margin-bottom: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  .chart {
    margin: 24px;
    position: relative;
    min-height: 400px;
    canvas {
      display: none;
    }
  }
}

.card-header {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
  background-color: #000;
}

.card-header {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
  background-color: #000;
}

.navbar-main {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
  }
  > .active a {
    text-decoration: underline;
    font-weight: 600;
  }
}

.modal-dialog {

  border: 10px solid white;
  border-radius: 0;
  .close {
    color: white;
  }
  .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    color: white;
  }
  .modal-content {
    border-radius: 0;
    border: none;
    background: #161616;
    box-shadow: none;
    color: white;
    h4 {
      font-weight: 700;
    }

    .modal-header {
      border: none;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;

    }
    .modal-body {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .modal-footer {
      margin-top: 0;
      border: none;
      text-align: center;
    }
  }
}

.nav-pills {
  margin-bottom: 15px;
  .nav-link {
    text-decoration: none;
    background-color: black;
    color: white;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    &.active {
      background-color: white;
      color: black;
    }
    @include media-breakpoint-down(md) {
      margin-right: 0;
      padding-left: 14px;
      padding-right:  14px;
    }
  }
}

table.table.dataTable-table, table.table {
  a {
    color: black;
  }
  thead {
    th {
      white-space: nowrap !important;
      background-color: black;
      color: white;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      a {
        color: white;
      }
    }
  }
  tbody {
    td, tr {
      white-space: nowrap !important;
    }
  }

}
.dataTable-pagination a:hover {
  color: inherit;
}

.info {
  .value {
    padding: 4px;
    &:hover {
      background: #f0f0f0;
    }
    .value-label {
      text-transform: uppercase;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      display: inline;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 4px;
    }
    .value-value {
      display: inline;
      a {
        color: black;
      }
    }
  }
}

.card.key-infos {
  .card-header {
    background-color: $primary;
  }
}
